<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/style.css">
    <title>Página Inicial</title>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="index.html"> {{nome}} </a>
        </div>

        <ul>
            <li> <a href="#"> Home </a> </li>
            <li> <a href="#"> Sobre </a> </li>
            <li> <a href="#"> Preços </a> </li>
            <li> <a href="#"> Serviços </a> </li>
            <li> <a href="#"> Contacto </a> </li>
        </ul>

    </nav>
    <section class="banner">
        <div class="texto">
           <h1 class="titulo">Site Básico para Projeto</h1>
           <h2 class="sub_titulo">DevOps com Flask</h2>
           <div class="botoes">
               <button class="n-overlay">Saiba Mais</button>
               <button class="overlay">Inscrever</button>
           </div>
        </div>
    </section>
</body>
</html>